<a href="https://colab.research.google.com/github/lfnd0/Machine_Learning/blob/master/ML_Atividade_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regressão linear com dados pessoais de custos médicos

> Dataset: [Medical cost personal datasets](https://www.kaggle.com/mirichoi0218/insurance)

## 1. Leitura dos dados

In [1]:
from google.colab import drive

import pandas as pd

In [2]:
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
data = pd.read_csv('/content/drive/My Drive/Machine_Learning/Datasets/Atividade_5/seguro_medico.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## 2. Limpeza e organização dos dados

## 3. Agrupamento

## 4. Considerações