<a href="https://colab.research.google.com/github/lfnd0/Machine_Learning/blob/master/ML_Atividade_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Rede neural utilizando dados sobre câncer de próstata
> Dataset: [Prostate cancer](https://www.kaggle.com/sajidsaifi/prostate-cancer)

## 1. Leitura dos dados

In [3]:
from google.colab import drive

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics  import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

import pandas as pd
import matplotlib.pyplot as plt

In [4]:
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

In [5]:
data = pd.read_csv('/content/drive/My Drive/Machine_Learning/Datasets/Atividade_3/ca_prostata.csv')
data.head()

   id diagnosis_result  radius  ...  compactness  symmetry  fractal_dimension
0   1                M      23  ...        0.278     0.242              0.079
1   2                B       9  ...        0.079     0.181              0.057
2   3                M      21  ...        0.160     0.207              0.060
3   4                M      14  ...        0.284     0.260              0.097
4   5                M       9  ...        0.133     0.181              0.059

[5 rows x 10 columns]

## 2. Limpeza e organização dos dados

### 2.1 Limpeza dos dados

#### 2.1.1 Remoção da coluna 'id'

In [6]:
data = data.dropna()
data = data.drop(columns = ['id'])
data.head()

  diagnosis_result  radius  texture  ...  compactness  symmetry  fractal_dimension
0                M      23       12  ...        0.278     0.242              0.079
1                B       9       13  ...        0.079     0.181              0.057
2                M      21       27  ...        0.160     0.207              0.060
3                M      14       16  ...        0.284     0.260              0.097
4                M       9       19  ...        0.133     0.181              0.059

[5 rows x 9 columns]

#### 2.1.2 Mudança dos valores 'B' e 'M' para '0' e '1'

In [7]:
data['diagnosis_result'] = data['diagnosis_result'].replace(['B', 'M'], [0, 1])
data.head()

   diagnosis_result  radius  texture  ...  compactness  symmetry  fractal_dimension
0                 1      23       12  ...        0.278     0.242              0.079
1                 0       9       13  ...        0.079     0.181              0.057
2                 1      21       27  ...        0.160     0.207              0.060
3                 1      14       16  ...        0.284     0.260              0.097
4                 1       9       19  ...        0.133     0.181              0.059

[5 rows x 9 columns]

### 2.2 Re-escala dos dados usando máximo e mínimo

In [8]:
data = (data - data.min()) / (data.max() - data.min())
data.head()

   diagnosis_result  radius  texture  ...  compactness  symmetry  fractal_dimension
0               1.0  0.8750   0.0625  ...     0.781759  0.633136           0.590909
1               0.0  0.0000   0.1250  ...     0.133550  0.272189           0.090909
2               1.0  0.7500   1.0000  ...     0.397394  0.426036           0.159091
3               1.0  0.3125   0.3125  ...     0.801303  0.739645           1.000000
4               1.0  0.0000   0.5000  ...     0.309446  0.272189           0.136364

[5 rows x 9 columns]

### 2.3 Divisão dos dados

#### 2.3.1 Atributos de classe

Os atributos de classe para este dataset são:
*   B (*benign*) com valor 0.0
*   M (*malign*) com valor 1.0

In [9]:
y = data.diagnosis_result
y.head()

0    1.0
1    0.0
2    1.0
3    1.0
4    1.0
Name: diagnosis_result, dtype: float64

#### 2.3.2 Atributos descritores

Os atributos descritores para este dataset são:
*    *radius*
*    *texture*
*    *perimeter*
*    *area*
*    *smoothness*
*    *compactness*
*    *symmetry*
*    *fractal_dimension*

In [10]:
x = data.iloc[:, 1:]
x.head()

   radius  texture  perimeter  ...  compactness  symmetry  fractal_dimension
0  0.8750   0.0625   0.825000  ...     0.781759  0.633136           0.590909
1  0.0000   0.1250   0.675000  ...     0.133550  0.272189           0.090909
2  0.7500   1.0000   0.650000  ...     0.397394  0.426036           0.159091
3  0.3125   0.3125   0.216667  ...     0.801303  0.739645           1.000000
4  0.0000   0.5000   0.691667  ...     0.309446  0.272189           0.136364

[5 rows x 8 columns]

## 3. Treinamentos